<span class="left">
<form method="get" action="/quizes">
  Tema:
  <select name="tema">
    <option value="" selected></option>
    <option value="otro">Otro</option>
    <option value="humanidades">Humanidades</option>
    <option value="ocio">Ocio</option>
    <option value="ciencia">Ciencia</option>
    <option value="tecnologia">Tecnología</option>
  </select>
  Pregunta:
  <input type="text" name="search" value="" />
  <input type="submit" value="Buscar" />
</form>
</span>
<% if (session.user) { %>
  <span class="right">
    <a href="/quizes/new"><button type="button">Crear pregunta</button></a>
  </span>
<% } %>
<div class="scrollable nofloat">
<table>
<% var i; for ( i = 0; i < quizes.length; i++ ) { %>
  <% var temaux = "Otro";
     if (quizes[i].tema == "humanidades") {
       temaux= "Humanidades";
     } else if (quizes[i].tema == "ocio") {
       temaux= "Ocio";
     } else if (quizes[i].tema == "ciencia") {
       temaux= "Ciencia";
     } else if (quizes[i].tema == "tecnologia") {
       temaux= "Tecnología";
     }
  %>
  <tr>
    <td><%= temaux %></td>
    <td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
    <% if (session.user) { %>
      <td><a href="quizes/<%= quizes[i].id %>/edit"><button type="button">Editar</button></a></td>
      <td>
	<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
	  <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
	    Borrar
	  </button>
	</form>
      </td>
    <% } %>
  </tr>
<% } %>
</table>
</div>

